/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Work Sans/Bold";
  src: url("/fonts/WorkSans-Bold.eot"), format("embedded-opentype"), url("/fonts/WorkSans-Bold.ttf") format("embedded-opentype"), url("/fonts/WorkSans-Bold.woff2") format("woff2"), url("/fonts/WorkSans-Bold.woff") format("woff"), url("/fonts/WorkSans-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/BoldItalic";
  src: url("/fonts/WorkSans-BoldItalic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-BoldItalic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-BoldItalic.woff2") format("woff2"), url("/fonts/WorkSans-BoldItalic.woff") format("woff"), url("/fonts/WorkSans-BoldItalic.svg") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/ExtraBold";
  src: url("/fonts/WorkSans-ExtraBold.eot"), format("embedded-opentype"), url("/fonts/WorkSans-ExtraBold.ttf") format("embedded-opentype"), url("/fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("/fonts/WorkSans-ExtraBold.woff") format("woff"), url("/fonts/WorkSans-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/ExtraBoldItalic";
  src: url("/fonts/WorkSans-ExtraBoldItalic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-ExtraBoldItalic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/WorkSans-ExtraBoldItalic.woff") format("woff"), url("/fonts/WorkSans-ExtraBoldItalic.svg") format("svg");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/ExtraLight";
  src: url("/fonts/WorkSans-ExtraLight.eot"), format("embedded-opentype"), url("/fonts/WorkSans-ExtraLight.ttf") format("embedded-opentype"), url("/fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("/fonts/WorkSans-ExtraLight.woff") format("woff"), url("/fonts/WorkSans-ExtraLight.svg") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/ExtraLightItalic";
  src: url("/fonts/WorkSans-ExtraLightItalic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-ExtraLightItalic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-ExtraLightItalic.woff2") format("woff2"), url("/fonts/WorkSans-ExtraLightItalic.woff") format("woff"), url("/fonts/WorkSans-ExtraLightItalic.svg") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/Italic";
  src: url("/fonts/WorkSans-Italic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-Italic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-Italic.woff2") format("woff2"), url("/fonts/WorkSans-Italic.woff") format("woff"), url("/fonts/WorkSans-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/Light";
  src: url("/fonts/WorkSans-Light.eot"), format("embedded-opentype"), url("/fonts/WorkSans-Light.ttf") format("embedded-opentype"), url("/fonts/WorkSans-Light.woff2") format("woff2"), url("/fonts/WorkSans-Light.woff") format("woff"), url("/fonts/WorkSans-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/LightItalic";
  src: url("/fonts/WorkSans-LightItalic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-LightItalic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-LightItalic.woff2") format("woff2"), url("/fonts/WorkSans-LightItalic.woff") format("woff"), url("/fonts/WorkSans-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/Medium";
  src: url("/fonts/WorkSans-Medium.eot"), format("embedded-opentype"), url("/fonts/WorkSans-Medium.ttf") format("embedded-opentype"), url("/fonts/WorkSans-Medium.woff2") format("woff2"), url("/fonts/WorkSans-Medium.woff") format("woff"), url("/fonts/WorkSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/MediumItalic";
  src: url("/fonts/WorkSans-MediumItalic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-MediumItalic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-MediumItalic.woff2") format("woff2"), url("/fonts/WorkSans-MediumItalic.woff") format("woff"), url("/fonts/WorkSans-MediumItalic.svg") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/Regular";
  src: url("/fonts/WorkSans-Regular.eot"), format("embedded-opentype"), url("/fonts/WorkSans-Regular.ttf") format("embedded-opentype"), url("/fonts/WorkSans-Regular.woff2") format("woff2"), url("/fonts/WorkSans-Regular.woff") format("woff"), url("/fonts/WorkSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/SemiBold";
  src: url("/fonts/WorkSans-SemiBold.eot"), format("embedded-opentype"), url("/fonts/WorkSans-SemiBold.ttf") format("embedded-opentype"), url("/fonts/WorkSans-SemiBold.woff2") format("woff2"), url("/fonts/WorkSans-SemiBold.woff") format("woff"), url("/fonts/WorkSans-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/SemiBoldItalic";
  src: url("/fonts/WorkSans-SemiBoldItalic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-SemiBoldItalic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-SemiBoldItalic.woff2") format("woff2"), url("/fonts/WorkSans-SemiBoldItalic.woff") format("woff"), url("/fonts/WorkSans-SemiBoldItalic.svg") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/Thin";
  src: url("/fonts/WorkSans-Thin.eot"), format("embedded-opentype"), url("/fonts/WorkSans-Thin.ttf") format("embedded-opentype"), url("/fonts/WorkSans-Thin.woff2") format("woff2"), url("/fonts/WorkSans-Thin.woff") format("woff"), url("/fonts/WorkSans-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/ThinItalic";
  src: url("/fonts/WorkSans-ThinItalic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-ThinItalic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-ThinItalic.woff2") format("woff2"), url("/fonts/WorkSans-ThinItalic.woff") format("woff"), url("/fonts/WorkSans-ThinItalic.svg") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/Black";
  src: url("/fonts/WorkSans-Black.eot"), format("embedded-opentype"), url("/fonts/WorkSans-Black.ttf") format("embedded-opentype"), url("/fonts/WorkSans-Black.woff2") format("woff2"), url("/fonts/WorkSans-Black.woff") format("woff"), url("/fonts/WorkSans-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans/BlackItalic";
  src: url("/fonts/WorkSans-BlackItalic.eot"), format("embedded-opentype"), url("/fonts/WorkSans-BlackItalic.ttf") format("embedded-opentype"), url("/fonts/WorkSans-BlackItalic.woff2") format("woff2"), url("/fonts/WorkSans-BlackItalic.woff") format("woff"), url("/fonts/WorkSans-BlackItalic.svg") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
header {
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  background: #222;
  overflow: hidden;
}
header .container {
  position: relative;
}
header .container .row {
  padding-left: 1rem;
  padding-right: 1rem;
}
header .container .row .navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 2rem 0rem 0rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .container .row .navbar .logo {
  width: 3.75rem;
}
header .container .row .navbar .logo img {
  width: 100%;
}
header .container .row .hero-image {
  height: 18.375rem;
  max-width: 14rem;
  margin: auto;
  margin-top: 3.19rem;
}
header .container .row .hero-image img {
  width: 100%;
}
header .container .row .vectors .top-vector {
  position: absolute;
  top: 6.88rem;
  left: -3.12rem;
  z-index: -10;
  width: 9.375rem;
  fill: #c70039;
  -webkit-box-shadow: 90px 4px 30px 0px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 90px 4px 30px 0px rgba(0, 0, 0, 0.25) inset;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
header .container .row .vectors .bottom-vector {
  position: absolute;
  bottom: -6.75rem;
  right: -6.25rem;
  z-index: -10;
  width: 16.875rem;
  fill: #c70039;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}
header .container .row .hero-text {
  max-width: 23.875rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}
header .container .row .hero-text h2 {
  text-align: center;
  font-family: "Work Sans/Regular";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.125rem */
  color: #f3f3f3;
  margin-top: 3.12rem;
}
header .container .row .hero-text h1 {
  color: #c70039;
  text-align: center;
  /* Work Sans/M-Bold-26 */
  font-family: "Work Sans/Bold";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 1.625rem */
  margin-top: 0.75rem;
}
header .container .row .hero-text p {
  color: var(--Main-White, #f3f3f3);
  text-align: center;
  /* Work Sans/M-Regular-16 */
  font-family: "Work Sans/Regular";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.3rem */
  letter-spacing: 0.01rem;
  margin-top: 1.25rem;
}
header .container .row .hero-text a {
  margin-top: 5rem;
  margin-bottom: 10.56rem;
  width: 4.25rem;
  height: 1.1rem;
  padding: 0.4375rem 1.5rem;
  -webkit-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  background: #c70039;
  -webkit-box-shadow: 0px 0px 30px 0px #c70039;
  box-shadow: 0px 0px 30px 0px #c70039;
  color: #f3f3f3;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  /* Work Sans/M-Medium-16 */
  font-family: "Work Sans/Medium";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1rem */
}

header::after {
  content: "";
  opacity: 0.15;
  background-image: url(../images/background-image.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: luminosity;
  z-index: -1;
  inset: 0;
  position: absolute;
}

.about-section {
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  background: #222;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.about-section .logo {
  max-width: 18.75rem;
  margin: auto;
  margin-top: 1.88rem;
}
.about-section .logo img {
  display: block;
  width: 100%;
}
.about-section .about {
  margin-top: 1.88rem;
  color: #f3f3f3;
}
.about-section .about h2 {
  /* Work Sans/M-Bold-18 */
  font-family: "Work Sans/Bold";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 1.125rem */
}
.about-section .about p {
  color: #f3f3f3;
  margin-top: 1.25rem;
  /* Work Sans/M-Regular-16 */
  font-family: "Work Sans/Regular";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 1.1rem */
  letter-spacing: 0.01rem;
}
.about-section .lines {
  margin-top: 1.88rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;
}
.about-section .lines .first {
  display: block;
  max-width: 6.25rem;
  margin: auto;
}
.about-section .lines .second {
  display: block;
  max-width: 18.75rem;
  margin: auto;
}
.about-section .lines .third {
  display: block;
  max-width: 18.75rem;
  margin: auto;
}
.about-section .skills {
  margin: 1.88rem auto 4.13rem;
  color: #f3f3f3;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 28.125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.875rem;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.about-section .skills h2 {
  /* Work Sans/M-Bold-18 */
  font-family: "Work Sans/Bold";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 1.125rem */
}
.about-section .skills .row1,
.about-section .skills .row2,
.about-section .skills .row3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.about-section .skills .row1 div,
.about-section .skills .row2 div,
.about-section .skills .row3 div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -moz-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  /* Work Sans/M-Medium-16 */
  font-family: "Work Sans/Medium";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1rem */
}
.about-section .skills .row1 div img,
.about-section .skills .row2 div img,
.about-section .skills .row3 div img {
  width: 2.5rem;
}
.about-section .skills .row4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -moz-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  /* Work Sans/M-Medium-16 */
  font-family: "Work Sans/Medium";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1rem */
}
.about-section .skills .row4 img {
  width: 2.5rem;
}

.about-section::before {
  content: "";
  background-color: black;
  z-index: -1;
  inset: 0;
  position: absolute;
}

.about-section::after {
  content: "";
  opacity: 0.15;
  background-image: url(../images/background-image.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: luminosity;
  z-index: -1;
  inset: 0;
  position: absolute;
}
